# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.blob

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#visual studio
.vs/
*.tlog/
*.log
*.pdb
*.idb
*.user
*.ilk
Debug/
Release/
src/packages/

# external
!src/external/gltfsdk_compiled/**/*.lib
!src/external/gltfsdk_compiled/lib/x64/Debug/
!src/external/gltfsdk_compiled/lib/x64/Release/

